body {
    font-family: Arial, sans-serif;
    background-image: url(img/forms.webp);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container {
    max-width: 500px;
    margin: auto;
    background: rgb(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1, h2 {
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin-top: 10px;
}
input, select {
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
}
button {
    margin-top: 15px;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
}
button:hover {
    background-color: #218838;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    background: #e9ecef;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}
.btn{
    display: flex;
    justify-content: space-between;
}