body {
    font-family: Arial, sans-serif;
    background-image: url(img/register.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.registration-form {
    display: flex;
    max-width: 500px; 
    width: 100%;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.registration-form h2 {
    margin-bottom: 20px;
    text-align: center;
}
.registration-form input[type="text"],
.registration-form input[type="tel"],
.registration-form input[type="email"],
.registration-form input[type="password"] {
    width: 98%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.registration-form button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: auto;
}
.registration-form button:hover {
    background-color: #218838;
}
.message {
    color: red;
    margin-top: 10px;
}
.goodMessage {
    color: green;
    margin-top: 10px;
}
@media (max-width: 390px) {
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.25rem; 
    }
    button {
        font-size: 1rem; 
        padding: 10px;
    }
    input {
        font-size: 1rem; 
        padding: 10px;
    }
}
@media (orientation: landscape) {
    .registration-form {
        min-height: auto; 
        max-height: 70vh; 
    }
    h1 {
        font-size: 2.5rem; 
    }
    h2 {
        font-size: 2rem; 
    }
    button {
        font-size: 1.2rem; 
        padding: 12px;
    }
    textarea, input {
        font-size: 1.2rem; 
        padding: 12px; 
    }
}
